@page "/home"
@using Food_Like.Shared
@layout MainPageLayout
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore


<div class="d-flex justify-content-between align-items-center">
    <img style="height: 50px;" src="/assets/logo.png" />
    <div>
        <NavLink href="@(isSeller() ? "/createmeal" : "/setupseller")"><button style="height: 30px;" class="px-4 btn btn-primary"><p class="bold text-white text-center text-align">Sell</p></button></NavLink>
        <img src="" />
    </div>
</div>

<div>
   @if (mealReservations == null)
            {
                <p>Loading</p>
            } 
   else if (mealReservations.Count > 0) {
        <p class="bold m-0">My Reservations</p>
        @foreach (var meal in mealReservations) { 
            <div class="cardshadow rounded d-flex flex-column mb-3">
                <div class="w-auto mx-2 d-flex justify-content-between  p-2">
                    <div>
                        <img />
                        <img />
                    </div>
                    <p>@meal.Titel</p>
                    <a href="https://www.mobilepay.dk/erhverv/betalingslink/betalingslink-svar?phone=@meal.Seller.  &amount=20&comment=Foodlike%20Betaling"><button class="btn btn-primary"><p class="bold text-white m-0">Pay</p></button></a>
                    <img src="assets/callIcon.png" width="25" height="25" alt="Alternate Text" />
                </div>
                <div class="w-auto mx-2">
                    <table class="w-100 text-center">
                        <thead>
                            <tr>
                                <td>Pickup at</td>
                                <td>Adress</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p class="text-primary">@meal.PickupFrom.ToShortDateString() <br /> Kl. @meal.PickupFrom.ToString("H:mm") - @meal.PickupTo.ToString("H:mm")</p></td>
                                <td><p class="text-break text-primary">@meal.Seller.Address</p></td>
                                <td><p class="text-primary">@meal.PortionPrice</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
   }
</div>

<div>
    @if (myMeals == null)
    {
        <p>Loading</p>
    }
    else if (myMeals.Count > 0)
    {
        <p class="bold m-1">Meal for sale</p>
        @foreach (var meal in myMeals)
        {
            <div class="cardshadow rounded d-flex flex-column mb-3">
                <div class="w-auto mx-2 d-flex justify-content-between p-2">
                    <div>
                        <img src="assets/TestAssets/image 1.png" />
                    </div>
                    <p>@meal.Titel</p>
                    <button class="btn btn-primary"><p class="bold text-white m-0">Orders</p></button>
                </div>
                <div class="w-auto mx-2">
                    <table class="w-100 text-center">
                        <thead>
                            <tr>
                                <td>Pickup at</td>
                                <td>Sold</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p class="text-primary">@meal.PickupFrom.ToShortDateString() <br /> Kl. @meal.PickupFrom.ToString("H:mm") - @meal.PickupTo.ToString("H:mm")</p></td>
                                <td><p class="text-primary">0</p></td>
                                <td><p class="text-primary">@meal.PortionPrice</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>



<div>
    <div class="d-flex justify-content-between">
        <div>
            <img />
            <a>Locationdata</a>
        </div>
        <p style="color: var(--highlight)">Today</p>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <img />
            <small class="w-100 text-center">Dansih</small>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-2">
        <div>
            <div class="d-flex justify-content-between">
                <small>19:00-19:20 20/1</small>
                <small>700m</small>
            </div>
            <div style="background-image: url('')">
                <div class="d-flex justify-content-end w-100">
                    <div class="card bg-white"><small class="text-center">20 kr</small></div>
                </div>
            </div>
            <div>
                <p class="text-break">Spaghetti w/ chicken</p>
                <div>
                    <img />
                    <div>
                        <img />
                        <p style="color: yellow;">4,6</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

    private List<Meal> myMeals;
    private List<Meal> mealReservations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await localStore.GetItemAsync<string>("credentials");

        //Get my meals
        var requestMyMeals = new HttpRequestMessage(HttpMethod.Get, "api/user/mymeals");
        requestMyMeals.Headers.Add("Auth", token);

        var response = await Http.SendAsync(requestMyMeals);
        myMeals = await response.Content.ReadFromJsonAsync<List<Meal>>();

        //Get my reservations

        var requestMyReservations = new HttpRequestMessage(HttpMethod.Get, "api/user/myreservations");
        requestMyReservations.Headers.Add("Auth", token);

        var response2 = await Http.SendAsync(requestMyReservations);
        mealReservations = await response2.Content.ReadFromJsonAsync<List<Meal>>();
        Console.WriteLine(myMeals.Count);
    }
    private bool isSeller()
    {
        return false;
    }
}
