@page "/orderconfirmation/{orderId:int}"
@inject NavigationManager NavigationManager
@using Food_Like.Shared;
@layout MealLayout
@inject HttpClient Http

<div class="px-4" style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
    <h3>Thank you for your order</h3>

</div>

@if (errorMessage.Length > 0)
{
    <div class="alert alert-danger d-flex justify-content-center" role="alert">
        <p>@errorMessage</p>
    </div>
}

<div>
    @if (order != null)
    {

        <p>@order.OrderId</p>
        <p>@order.Quantity</p>
        <p>@order.Meal.Titel</p>
        <p>@order.Meal.Seller.SellerNavigation.FirstName</p>
        <p>@order.Meal.Seller.Address.City</p>
    }
    else
    {
        <div>Loading order ...</div>
    }
</div>

<div class="container px-4">
    <div class="row">
        <div class="col">
            Order number
        </div>
        <div class="col">
            <p>Order id: @orderId</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Pickup time
        </div>
        <div class="col">
            ...
        </div>
    </div>
    <div class="row">
        <div class="col">
            Address
        </div>
        <div class="col">
            ...
        </div>
    </div>
</div>

<div class="px-4" style="margin-top:50px;">
    <p> Read more about the <a href="https://www.un.org/development/desa/disabilities/envision2030.html">17 Sustainable Development Goals</a>  </p>


</div>



@code {

    [Parameter]
    public int orderId { get; set; }

    private Mealorder order;

    private String errorMessage = "";


    protected async override void OnInitialized()
    {
        // order = hent order i database med orderId
        var response = await Http.GetAsync("api/order/" + orderId.ToString());
        if (response.IsSuccessStatusCode)
        {
            this.order = await response.Content.ReadFromJsonAsync<Mealorder>();
            StateHasChanged();
        }
        else
        {
            errorMessage = "Error retrieving meal";
            StateHasChanged();
        }


    }
}
