@page "/orderconfirmation/{orderId:int}"
@inject NavigationManager NavigationManager
@using Food_Like.Shared;
@layout MealLayout
@inject HttpClient Http

<div class="px-4" style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
    <h3>Thank you for your order</h3>

</div>

@if (errorMessage.Length > 0)
{
    <div class="alert alert-danger d-flex justify-content-center" role="alert">
        <p>@errorMessage</p>
    </div>
}


@if (order != null)
{
<div class="container px-4">
    <div class="row">
        <div class="col">
            Order number:
        </div>
        <div class="col">
            @order.OrderId
        </div>
    </div>
    <div class="row">
        <div class="col">
            Portions:
        </div>
        <div class="col">
            @order.Quantity
        </div>
    </div>
    <div class="row">
        <div class="col">
            Meal:
        </div>
        <div class="col">
            @order.Meal.Titel
        </div>
    </div>
    <div class="row">
        <div class="col">
            Pickup time
        </div>
        <div class="col">
            @order.Meal.PickupFrom.ToString("HH:mm") - @order.Meal.PickupTo.ToString("HH:mm , dd/MM")
        </div>
    </div>
    <div class="row">
        <div class="col">
            Address
        </div>
        <div class="col">
            @order.Meal.Seller.SellerNavigation.FirstName
        </div>
    </div>
    <div class="row">
        <div class="col">
            Address
        </div>
        <div class="col">
            @order.Meal.Seller.Address.Line1 <br /> @order.Meal.Seller.Address.City
        </div>
    </div>
</div>


}
else
{
    <div>Loading order ...</div>
}




<div class="px-4" style="margin-top:50px;">
    <p> Read more about the <a href="https://www.un.org/development/desa/disabilities/envision2030.html">17 Sustainable Development Goals</a>  </p>


</div>

<div align="center">
    <a class="btn btn-primary" href="/home" role="button" style="text-decoration-line: none;">Back to home page</a>
</div>




@code {

    [Parameter]
    public int orderId { get; set; }

    private Mealorder order;

    private String errorMessage = "";


    protected async override void OnInitialized()
    {
        // order = hent order i database med orderId
        var response = await Http.GetAsync("api/order/" + orderId.ToString());
        if (response.IsSuccessStatusCode)
        {
            this.order = await response.Content.ReadFromJsonAsync<Mealorder>();
            StateHasChanged();
        }
        else
        {
            errorMessage = "Error retrieving meal";
            StateHasChanged();
        }


    }
}
